[Unit]
Description=Run Monitor synthetic probes every minute

[Timer]
OnBootSec=3min
OnUnitActiveSec=1min
AccuracySec=1s
RandomizedDelaySec=0
Persistent=true
Unit=monitor-synthetic-probe.service

[Install]
WantedBy=timers.target
