[Unit]
Description=Run the Monitor central agent transport regularly

[Timer]
OnBootSec=10s
OnUnitInactiveSec=5s
AccuracySec=1s
RandomizedDelaySec=1s
Unit=monitor-agent-transport.service

[Install]
WantedBy=timers.target
